{% extends "base.html" %}

{% block content %}
<div id="calendar">

</div>
{% endblock %}
{% block morescripts %}
<script >
  $(function() {

    $('#calendar').fullCalendar({
      themeSystem: 'bootstrap4',
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay,listMonth'
      },
      weekNumbers: true,
      eventLimit: true, // allow "more" link when too many events
      events: 'https://fullcalendar.io/demo-events.json'
    });

  });
</script>
{% endblock %}
