{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <a class="btn btn-success mt-3 float-right" href="{{ url_for("project_details") }}">New Project</a>
    </div>
</div>
<table class="table mt-2">
    <th>S/N</th>
    <th>Project Name</th>
    <th>Budget</th>
    <th>Hours</th>
    <th>Tasks</th>
    <th>Approval</th>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr></tr>
    </tbody>
</table>


{% endblock %}