<div class="tab-pane fade" id="disbursements" role="tabpanel" aria-labelledby="disbursements-tab">
    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#disbursementsModal" id="issNewButton">Request funds</button>
    <div class="modal fade" id="disbursementsModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Enter details of new disbursement</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form action="{{ url_for("projects.disb_approval", id=id) }}" method="POST" ROLE="form">
                    <div class="modal-body">                  
                        <div class="form-group">
                            <label for="issDesc">Disbursement Description</label>
                            <textarea name="disb_desc" class="form-control" id="disDesc" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="issName">Disbursement Amount</label>
                            <input type="number" name="disb_amt" class="form-control" id="disName">
                        </div>                   
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success float-right" value="Request"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <table class="table mt-2">
        <th>S/N</th>
        <th>Request Date</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Approver</th>
        <tbody>
            {% for row in disb %}
                <tr>
                    <td>{{ row.disb_id }}</td>
                    <td>{{ row.disb_date }}</td>
                    <td>{{ row.disb_amt }}</td>
                    <td>{{ row.disb_status }}</td>
                    <td>{{ row.disb_approver }}</td>
                </tr>
            {{% endfor %}}
            <tr></tr>
        </tbody>
    </table>
</div>