<div class="tab-pane fade" id="issues" role="tabpanel" aria-labelledby="issues-tab">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#issueModal" id="issNewButton">Report New issue</button>
    <div class="modal fade" id="issueModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form name ="issueDetails" method="POST" role="form" action="{{ url_for("projects.upload_issues") }}">
                    <div class="modal-header">
                        <h3 class="modal-title">Enter details of new issue</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="issName">Issue title</label>
                            <input type="text" name="issue_title" class="form-control" id="issName">
                        </div>
                        <div class="form-group">
                            <label for="issDesc">Issue Description</label>
                            <textarea class="form-control" name="issue_descr" id="issDesc" rows="5"></textarea>
                        </div>
                            <div class="form-group">
                            <div class="row">
                                <div class="col-3">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Responder:</span>
                                        </div>
                                        <select class="form-control" name="issue_responder" id="">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <label for="issResp">Response</label>
                            <textarea class="form-control" name="issue_response" id="issResp" rows="5" readonly></textarea>
                            </div>
                        
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success float-right"  value="Save"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <table class="table mt-2">
        <th>S/N</th>
        <th>Issue Date</th>
        <th>Status</th>
        <th>Action</th>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr></tr>
        </tbody>
    </table>
</div>