<div class="tab-pane fade" id="tasks" role="tabpanel" aria-labelledby="tasks-Tab">
    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#tasksModal" id="taskNewButton">Create new Task</button>
    <div class="modal fade" id="tasksModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Enter details of new task</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form name="taskDetails" action="{{ url_for("projects.task_post", id=id) }}" method="POST" role="form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="taskName">Task title</label>
                            <input name="task_title" type="text" class="form-control" id="taskName">
                        </div>
                        <div class="form-group">
                            <label for="taskDesc">Task Description</label>
                            <textarea name="task_desc" class="form-control" id="taskDesc" rows="5"></textarea>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="taskStartDate">StartDate: </label>
                                    <input name="task_start" type="date" class="form-control form-control-sm" id="taskStartDate">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="taskEndtDate">EndDate: </label>
                                    <input name="task_deadline" type="date" class="form-control form-control-sm" id="taskEndtDate">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="taskHours">Planned Hours: </label>
                                    <input name="task_hours" ype="number" class="form-control form-control-sm" id="taskHours">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="taskStatus">Completion status: </label>
                                    <select name="completion_status" class="form-control form-control-sm" id="taskStatus">
                                        {% for i in range(0, 110, 10) %}
                                            <option value="{{ i }}">{{ i }}%</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success float-right" value="Save"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <table class="table mt-2">
        <th>S/N</th>
        <th>Task name</th>
        <th>Start Date</th>
        <th>Planned Hours</th>
        <th>Status</th>
        <th>Action</th>
        <tbody>
            {% for row in tasks %}
            <tr>
                <td>{{ row.task_id }}</td>
                <td>{{ row.task_title }}</td>
                <td>{{ row.task_start }}</td>
                <td>{{ row.task_hours }}</td>
                <td>{{ row.completion_status }}</td>
                <td>NA</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>