<!DOCTYPE html>
{% from "projects/mymacros.html" import listfiles %}
<html lang="en" style="height:100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link href="{{ url_for("static", filename="styles/fullcalendar-3.9.0/fullcalendar.min.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="styles/fullcalendar-3.9.0/fullcalendar.print.min.css") }}" media="print" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for("static", filename="styles/fullcalendar-3.9.0/fullcalendar.min.js") }}"></script>

    <title>Geonet ERP</title>
</head>
<body style="height:100%;">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand" href="#">
          <img src="{{ url_for("static", filename="images/avertis_logo.png") }}" width="30" height="30" alt="">
          Avertis Solutions
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ url_for("projects.home") }}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for("projects.projects") }}" class="nav-link">Projects</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for("projects.calendar") }}" class="nav-link">Calendar</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Other sites
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="https://avertis-inventory.herokuapp.com/">Warehouse</a>
                      <a class="dropdown-item" href="#">Finance</a>
                      <a class="dropdown-item" href="#">HRM</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container h-100">
        {% block content %}
        {% endblock %}

    </div>
</body>
{% block morescripts %}
{% endblock %}
</html>
