{% extends "projects/base.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="projectDetails-tab" data-toggle="tab" href="#projectDetails" role="tab" aria-controls="details" aria-selected="true">Project Details</a>
            </li>
            {% if id!="None" %}
                <li class="nav-item">
                    <a class="nav-link" id="files-tab" data-toggle="tab" href="#files" role="tab" aria-controls="files" aria-selected="false">Files</a>
                    </li>
                <li class="nav-item">
                  <a class="nav-link" id="tasks-tab" data-toggle="tab" href="#tasks" role="tab" aria-controls="profile" aria-selected="false">Tasks</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="materials-tab" data-toggle="tab" href="#materials" role="tab" aria-controls="materials" aria-selected="false">Materials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Issues-tab" data-toggle="tab" href="#issues" role="tab" aria-controls="issues" aria-selected="false">Issues</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Disbursements-tab" data-toggle="tab" href="#disbursements" role="tab" aria-controls="issues" aria-selected="false">Disbursements</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="card-body">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-success">
                    <strong>Success!</strong> {{ message }}
                </div>
              {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="projectDetails" role="tabpanel" aria-labelledby="details-Tab">
                <form name="basicProjDetails" id="basicProjDetails" action="/postprojdetails" role="form" method="post">
                    <div class="form-group">
                        <label for="prjName">Project Name</label>
                        <input type="text" name="proj_name" class="form-control" id="prjName" value="{{ project_detail.proj_name }}" required {{ readonly }}>
                    </div>
                    <div class="form-group">
                        <label for="prjManager">Manager Name</label>
                        <select type="text" name="proj_manager" class="form-control" id="prjManager" {{ readonly }}>
                            {% for row in managers %}
                                {% if row.manager_code==project_detail.proj_manager %}
                                    <option value="{{ row.manager_code }}" selected>{{ row.manager_name }}</option>
                                {% else %}
                                    <option value="{{ row.manager_code }}" >{{ row.manager_name }}</option>">
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="prjType">Project Type</label>
                                <select type="text" name="proj_type" class="form-control" id="prjType" {{ readonly }}>
                                    {% for row in projects %}
                                        {% if row.type_id==project_detail.proj_type %}
                                            <option value="{{ row.type_id }}" selected>{{ row.type_name }}</option>
                                        {% else %}
                                            <option value="{{ row.type_id }}">{{ row.type_name }}</option>">
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                                <div class="form-group">
                                    <label for="prjType">Select Client</label>
                                    <select type="text" name="proj_client" class="form-control" id="prjClient" {{ readonly }}>
                                        {% for row in clients %}
                                            {% if row.client_id==project_detail.proj_client %}
                                                <option value="{{ row.client_id }}" selected>{{ row.client_name }}</option>">
                                            {% else %}
                                                <option value="{{ row.client_id }}">{{ row.client_name }}</option>
                                            {% endif %}
                                            
                                        {% endfor %}
                                    </select>
                                </div>                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="" for="prjBudget">Budget</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <select class="custom-select" name="proj_currency" id="selCurrency" {{ readonly }}>
                                    {% for row in curr %}
                                        {% if row.curr_id==project_detail.proj_currency %}
                                            <option value="{{ row.curr_id }}" selected>{{ row.curr_name }}</option>">
                                        {% else %}
                                            <option value="{{ row.curr_id }}">{{ row.curr_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <input type="number" name="proj_budget" class="form-control" id="prjBudget" value="{{ project_detail.proj_budget }}" required {{ readonly }}>
                          </div>
                    </div>
                    <div class="form-group">
                        <label for="prjHours">Planned Hours</label>
                        <input type="number" name="proj_hours" class="form-control" id="prjHours" value="{{ project_detail.proj_hours }}" required {{ readonly }}>
                    </div>
                    <div class="form-group">
                        <label for="prjDeadline">Deadline</label>
                        <input type="date" name="proj_deadline" class="form-control" id="prjDeadline" value="{{ project_detail.proj_deadline.strftime("%Y-%m-%d") if  project_detail != none else ""}}" required {{ readonly }}>
                    </div>
                    <div class="form-group">
                        <label for="prjDescription">Description</label>
                        <textarea type="number" name="proj_description" class="form-control" rows="5" id="prjDescription" required {{ readonly }}>{{ project_detail.proj_description }}</textarea>
                    </div>
                    {% if can_approve is sameas true and readonly=="" %}
                        <input type="button" id="approvalButton" class="btn btn-outline-success" data_projId = "{{ id }}" value="Approve"/>
                    {% endif %}

                    {% if readonly is not defined%}
                        <input type="submit" class="btn btn-success float-right" value="Save"/>
                    {% endif %}
                </form>
            </div>
        {% if id!="None" %}
            {% include "projects/projects tabs/file upload.html" %}
            {% include "projects/projects tabs/issues.html" %}
            {% include "projects/projects tabs/materials.html" %}
            {% include "projects/projects tabs/tasks.html" %}
            {% include "projects/projects tabs/disbursements.html" %}

        {% endif %}




        </div>
    </div>  
</div>
{% endblock %}
{% block morescripts %}
    <script>
        //elements for disbursements modal
        var disbtextarea = document.getElementById("disDesc");
        var disbAmtBox =  document.getElementById("disbAmt");

        //elements for issue modal
        var issTitle = document.getElementById("issName");
        var issDesc =  document.getElementById("issDesc");


        //on ajax success functions
        function simplyLog(data){
            console.log(data);
        };

        function afterGetIssResponse(data){
            console.log(data)
            document.getElementById("issResp").value = data;

        }
        
        function afterSaveResponse(data){
            // On successs of saving an Issue's response
            //fill response box
            $('#issueModal').modal('hide');

        }

        function changeIssModal(data){
            //On success of fetching an issue's data
            //converts inputs to readonly and puts the right data in there
            
            $('#issueModal').modal('show');
            issTitle.value = data.title;
            issTitle.readOnly  = true;
            issDesc.value = data.descr;
            issDesc.readOnly  = true;
            
            $('#issueSubmitter').hide();
            $('#responseSubmitter').show()
        };
        function changeDisbModal(data){
            // //On success of fetching a disbursement row data
            //converts inputs to readonly and puts the right data in there
            $('#disbursementsModal').modal('show');

            disbtextarea.value = data.desc;
            disbtextarea.readOnly  = true;
            disbAmtBox.value = Number(data.amount);
            disbAmtBox.readOnly  = true;
            
            $('#disbRequestButton').hide();
        };
        function callAjax(mydata, myurl, logmessage, func){
            $.ajax({
                    data:mydata,
                    url:myurl,
                    type:"POST",
                    error:function(object, status, errortext){
                        console.log("Status is " + status);
                        console.log("Error is " + errortext);
                    },
                    success:function(data){
                        func(data)
                    }

                })
        }
        $(document).ready(
            function(){
            // all my event listeners
            //1. Approve project when approval is clicked
            $("#approvalButton").click(function(e){
                //submit entire form
                form_data = $("#basicProjDetails").serialize()
                console.log(form_data)
                callAjax(form_data, "/approveproj/{{ id }}", "Approved", simplyLog);
            });
            //2. Dusbursement ajax
            $(".ajaxDisbursement").click(function(e){
                var use_id = $(this).data("disbid")
                callAjax({concern:"disb"}, "/ajaxissueanddisb/" + use_id, "Success", changeDisbModal);
            });
            
            $("#disbNewButton").click(function(e){
                //return modal to new state by clearing inputs
                $('#disbursementsModal').modal('show');
                $('#disbRequestButton').show();
                disbtextarea.value = "";
                disbtextarea.readOnly  = false;
                disbAmtBox.value = 0;
                disbAmtBox.readOnly  = false;
            });
            //3. Issue ajax....has several parts
            // On clicking ciew button for issue, first call ajax to get details of issue
            //then listen on select to detect change
            //then save new response if me is selected
            // if other is selected retrieve responses and display
            $(".ajaxIssue").click(function(e){
                var use_id = $(this).data("issue_id")
                callAjax({concern:"issue"}, "/ajaxissueanddisb/" + use_id, "Success", changeIssModal);
                $("#selectResponder").change(
                function(){
                 var selected =  $("#selectResponder option:selected").val();
                 if(selected=="fakeuser"){
                    $("#responseSubmitter").show()
                    var el = document.getElementById("issResp")
                     el.readOnly=false;
                     el.value="";
                     $("#responseSubmitter").click(
                         function(){
                            var val = el.value;
                            resp_data = {"issue_id":use_id, "issue_response":val}
                            callAjax(resp_data, "{{ url_for("projects.save_iss_response") }}", "Success", afterSaveResponse);
                         }
                     )
                 }else{
                    $("#responseSubmitter").hide()
                    document.getElementById("issResp").readOnly=true;
                    callAjax({"responder": selected, "id":use_id}, "{{ url_for("projects.response_post_ajax") }}", "Success", afterGetIssResponse);
                 }
                }
            )
            });


            $("#issNewButton").click(function(e){
                ////return issue modal to new state by clearing inputs
                $('#issueModal').modal('show');
                $('#issueSubmitter').show();
                $('#responseSubmitter').hide();
                issTitle.value = "";
                issTitle.readOnly  = false;
                issDesc.value = "";
                issDesc.readOnly  = false;
            });

        })
    </script>
{% endblock %}
