{% extends "projects/base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <a class="btn btn-success mt-3 float-right" href="{{ url_for("projects.project_details") }}">New Project</a>
    </div>
</div>
<table class="table mt-2">
    <th>S/N</th>
    <th>Project Name</th>
    <th>Budget</th>
    <th>Hours</th>
    <th>Tasks</th>
    <th>Approval</th>
    <th>Action</th>

    <tbody>
        {% for row in projects %}
        <tr>
            <td>{{ row.proj_id }}</td>
            <td>{{ row.proj_name }}</td>
            <td>{{ row.proj_budget }}</td>
            <td>{{ row.proj_hours }}</td>
            <td>NA</td>
            {% if row.proj_approval is sameas true %}
                <td><span class="badge badge-success">Approved</span></td>
            {% elif row.proj_approval is sameas none %}
                <td><span class="badge badge-secondary">Pending</span></td>
            {% elif row.proj_approval is sameas false %}
                <td><span class="badge badge-danger">Denied</span></td>
            {% endif %}
            <td><a href="{{ url_for("projects.project_details",  id=row.proj_id) }}"><i class="fas fa-edit"></i></a></td>
        </tr>
        {% endfor %}
        <tr></tr>
    </tbody>
</table>


{% endblock %}